
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCGzodzE1_V813gxQ2uNZCHRr2XoaqdCmo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cars-e5f2d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cars-e5f2d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cars-e5f2d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=729622488625
NEXT_PUBLIC_FIREBASE_APP_ID=1:729622488625:web:72ddcf50565ab2bf2bd710
